[Desktop Entry]
Name=sqlite3
Caption=SQLite 3
Comment=Predicate driver for handling SQLite databases
Comment[en_GB]=Predicate driver for handling SQLite databases
FileName=sqlite3
Type=File
MimeTypes=application/x-sqlite3,application/x-kexiproject-sqlite3
Version=1.0
