[Desktop Entry]
Name=odbc
Name[bg]=odbc
Name[cs]=odbc
Name[de]=odbc
Name[es]=odbc
Name[et]=odbc
Name[fi]=odbc
Name[fr]=odbc
Name[hu]=odbc
Name[km]=odbc
Name[mr]=ओडीबीसी
Name[nds]=ODBC
Name[nl]=odbc
Name[pl]=odbc
Name[pt]=odbc
Name[pt_BR]=odbc
Name[sk]=odbc
Name[sl]=odbc
Name[sv]=ODBC
Name[ug]=odbc
Name[uk]=ODBC
Name[x-test]=xxodbcxx
Caption=ODBC
Comment=Predicate driver for handling ODBC databases
Comment[bg]=Драйвер за бази от данни ODBC
Comment[es]=Controlador para  manejo de bases de datos ODBC en Predicate
Comment[et]=Predicate'i draiver ODBC andmebaaside jaoks
Comment[fr]=Pilote de prédicats pour gérer les bases de données ODBC
Comment[hu]=Predikátum meghajtó ODBC adatbázisok kezeléséhez
Comment[km]=បរិយាយ​កម្មវិធី​បញ្ជា​សម្រាប់​គ្រប់គ្រង​មូលដ្ឋាន​ទិន្នន័យ ODBC
Comment[mr]=ओडीबीसी डेटाबेसेस हाताळणारे प्रेडिकेट ड्राइव्हर
Comment[nl]=Onderbouwingsstuurprogramma voor het behandelen van ODBC databases
Comment[pl]=Ogłoś sterownik do obsługi baz danych ODBC
Comment[pt]=Controlador do Predicate para lidar com bases de dados ODBC
Comment[pt_BR]=Driver do Predicate para lidar com bancos de dados ODBC
Comment[sk]=Prisúdený ovládač na spracovanie databáz ODBC
Comment[sl]=Gonilnik Predicate za obravnavanje podatkovnih zbirk ODBC
Comment[sv]=Predikatdrivrutin för att hantera ODBC-databaser
Comment[ug]=ODBC ساندىنىنى باشقۇرىدىغان خەۋەرچى قوزغاتقۇ
Comment[uk]=Драйвер Predicate для роботи з базами даних ODBC
Comment[x-test]=xxPredicate driver for handling ODBC databasesxx
FileName=odbc
Type=Network
Version=1.0
