[Desktop Entry]
Name=pqxx
Caption=PostgreSQL (pqxx)
Comment=Predicate driver for handling PostgreSQL databases (based on libpqxx)
FileName=pqxx
Type=Network
Version=1.0
