[Desktop Entry]
Name=sybase
Name[ca]=Sybase
Name[cs]=sybase
Name[de]=Sybase
Name[es]=sybase
Name[gl]=Sybase
Name[nl]=sybase
Name[pl]=sybase
Name[pt]=sybase
Name[pt_BR]=sybase
Name[sk]=sybase
Name[sv]=Sybase
Name[uk]=Sybase
Name[x-test]=xxsybasexx
Name[zh_CN]=sybase
Caption=Sybase
Comment=KDb driver for handling Sybase databases
Comment[ca]=Controlador del KDb per a gestionar bases de dades Sybase
Comment[cs]=Ovladač KDb pro práci s databázemi Sybase
Comment[de]=KDb-Treiber für die Handhabung von Sybase-Datenbanken
Comment[es]=Controlador de KDb para el manejo de bases de datos Sybase
Comment[gl]=Controlador de KDb para manexar bases de datos Sybase.
Comment[nl]=KDb-stuurprogramma for behandeling van Sybase databases
Comment[pl]=Sterownik KDb do obsługi baz danych Sybase
Comment[pt]=Controlador do KDb para lidar com bases de dados Sybase
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados Sybase
Comment[sk]=KDb ovládač na spracovanie databáz Sybase
Comment[sv]=Kdb-drivrutin för att hantera Sybase-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних Sybase
Comment[x-test]=xxKDb driver for handling Sybase databasesxx
Comment[zh_CN]=处理 Sybase 数据库的 KDb 驱动
FileName=sybase
Type=Network
Version=1.0
