[Desktop Entry]
Name=sybase
Name[cs]=sybase
Name[de]=Sybase
Name[es]=sybase
Name[nl]=sybase
Name[pl]=sybase
Name[pt]=sybase
Name[pt_BR]=sybase
Name[sk]=sybase
Name[sv]=Sybase
Name[uk]=Sybase
Name[x-test]=xxsybasexx
Caption=Sybase
Comment=KDb driver for handling Sybase databases
Comment[nl]=KDb-stuurprogramma for behandeling van Sybase databases
Comment[pl]=Sterownik KDb do obsługi baz danych Sybase
Comment[pt]=Controlador do KDb para lidar com bases de dados Sybase
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados Sybase
Comment[sv]=Kdb-drivrutin för att hantera Sybase-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних Sybase
Comment[x-test]=xxKDb driver for handling Sybase databasesxx
FileName=sybase
Type=Network
Version=1.0
