[Desktop Entry]
Name=sybase
Name[bg]=sybase
Name[cs]=sybase
Name[de]=sybase
Name[es]=sybase
Name[et]=sybase
Name[fi]=sybase
Name[fr]=sybase
Name[ga]=sybase
Name[hu]=sybase
Name[it]=sybase
Name[km]=sybase
Name[mr]=सायबेस
Name[nds]=Sybase
Name[nl]=sybase
Name[pl]=sybase
Name[pt]=sybase
Name[pt_BR]=sybase
Name[sk]=sybase
Name[sl]=sybase
Name[sv]=Sybase
Name[tr]=sybase
Name[ug]=sybase
Name[uk]=Sybase
Name[x-test]=xxsybasexx
Caption=Sybase
Comment=Predicate driver for handling Sybase databases
Comment[bg]=Драйвер за бази от данни Sybase
Comment[es]=Controlador para  manejo de bases de datos Sybase en Predicate
Comment[et]=Predicate'i draiver Sybase'i andmebaaside jaoks
Comment[fr]=Pilote de prédicats pour gérer les bases de données Sybase
Comment[hu]=Predikátum meghajtó Sybase adatbázisok kezeléséhez
Comment[it]=Driver preposto per la gestione di database Sybase.
Comment[km]=បរិយាយ​កម្មវិធី​បញ្ជា​សម្រាប់​គ្រប់គ្រង​មូលដ្ឋាន​ទិន្នន័យ Sybase
Comment[mr]=सायबेस डेटाबेसेस हाताळणारे प्रेडिकेट ड्राइव्हर
Comment[nl]=Onderbouwingsstuurprogramma voor het behandelen van Sybase databases
Comment[pl]=Ogłoś sterownik do obsługi baz danych Sybase
Comment[pt]=Controlador do Predicate para lidar com bases de dados Sybase
Comment[pt_BR]=Driver do Predicate para lidar com bancos de dados Sybase
Comment[sk]=Prisúdený ovládač na spracovanie databáz Sybase
Comment[sl]=Gonilnik Predicate za obravnavanje podatkovnih zbirk Sybase
Comment[sv]=Predikatdrivrutin för att hantera Sybase-databaser
Comment[tr]=Sybase veritabanı kullanımı için yüklem sürücüsü
Comment[ug]=Sybase ساندىنىنى باشقۇرىدىغان خەۋەرچى قوزغاتقۇ
Comment[uk]=Драйвер Predicate для роботи з базами даних Sybase
Comment[x-test]=xxPredicate driver for handling Sybase databasesxx
FileName=sybase
Type=Network
Version=1.0
