[Desktop Entry]
Name=postgresql
Name[cs]=postgresql
Name[de]=PostgreSQL
Name[es]=postgresql
Name[nl]=postgresql
Name[pl]=postgresql
Name[pt]=postgresql
Name[pt_BR]=postgresql
Name[sk]=postgresql
Name[sv]=PostgreSQL
Name[uk]=PostgreSQL
Name[x-test]=xxpostgresqlxx
Caption=PostgreSQL
Comment=KDb driver for handling PostgreSQL databases
Comment[nl]=KDb-stuurprogramma for behandeling van PostgreSQL databases
Comment[pl]=Sterownik KDb do obsługi baz danych PostgreSQL
Comment[pt]=Controlador do KDb para lidar com bases de dados PostgreSQL
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados PostgreSQL
Comment[sv]=Kdb-drivrutin för att hantera PostgreSQL-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних PostgreSQL
Comment[x-test]=xxKDb driver for handling PostgreSQL databasesxx
FileName=postgresql
Type=Network
Version=0.0
