[Desktop Entry]
Name=postgresql
Name[cs]=postgresql
Name[de]=PostgreSQL
Name[es]=postgresql
Name[nl]=postgresql
Name[pl]=postgresql
Name[pt]=postgresql
Name[pt_BR]=postgresql
Name[sk]=postgresql
Name[sv]=PostgreSQL
Name[uk]=PostgreSQL
Name[x-test]=xxpostgresqlxx
Caption=PostgreSQL
Comment=KDb driver for handling PostgreSQL databases
FileName=postgresql
Type=Network
Version=0.0
