[Desktop Entry]
Name=PostgreSQL
Name[ca]=PostgreSQL
Name[cs]=PostgreSQL
Name[de]=PostgreSQL
Name[es]=PostgreSQL
Name[gl]=PostgreSQL
Name[hu]=PostgreSQL
Name[nl]=PostgreSQL
Name[pl]=PostgreSQL
Name[pt]=PostgreSQL
Name[pt_BR]=PostgreSQL
Name[sk]=PostgreSQL
Name[sv]=PostgreSQL
Name[uk]=PostgreSQL
Name[x-test]=xxPostgreSQLxx
Name[zh_CN]=PostgreSQL
Comment=KDb driver for handling PostgreSQL databases
Comment[ca]=Controlador del KDb per a gestionar bases de dades PostgreSQL
Comment[cs]=Ovladač KDb pro práci s databázemi PostgreSQL
Comment[de]=KDb-Treiber für die Handhabung von PostgreSQL-Datenbanken
Comment[es]=Controlador de KDb para el manejo de bases de datos PostgreSQL
Comment[gl]=Controlador de KDb para manexar bases de datos PostgreSQL.
Comment[hu]=KDb illesztőprogram PostgreSQL adatbázisok kezeléséhez
Comment[nl]=KDb-stuurprogramma for behandeling van PostgreSQL databases
Comment[pl]=Sterownik KDb do obsługi baz danych PostgreSQL
Comment[pt]=Controlador do KDb para lidar com bases de dados PostgreSQL
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados PostgreSQL
Comment[sk]=KDb ovládač na spracovanie databáz PostgreSQL
Comment[sv]=Kdb-drivrutin för att hantera PostgreSQL-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних PostgreSQL
Comment[x-test]=xxKDb driver for handling PostgreSQL databasesxx
Comment[zh_CN]=处理 PostgreSQL 数据库的 KDb 驱动
Type=Service
Icon=
Encoding=UTF-8

X-KDE-Library=kdb_postgresqldriver
X-KDE-ServiceTypes=KDb/Driver
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kdb.postgresql
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDb-FileBased=false
X-KDb-ImportingEnabled=true
MimeType=
