[Desktop Entry]
Name=odbc
Caption=ODBC
Comment=Predicate driver for handling ODBC databases
Comment[en_GB]=Predicate driver for handling ODBC databases
FileName=odbc
Type=Network
Version=1.0
