[Desktop Entry]
Name=SQLite
Name[ca]=SQLite
Name[cs]=SQLite
Name[de]=SQLite
Name[es]=SQLite
Name[gl]=SQLite
Name[nl]=SQLite
Name[pl]=SQLite
Name[pt]=SQLite
Name[pt_BR]=SQLite
Name[sk]=SQLite
Name[sv]=SQLite
Name[uk]=SQLite
Name[x-test]=xxSQLitexx
Comment=KDb driver for handling SQLite databases
Comment[ca]=Controlador del KDb per a gestionar bases de dades SQLite
Comment[cs]=Ovladač KDb pro práci s databázemi SQLite
Comment[de]=KDb-Treiber für die Handhabung von SQLite-Datenbanken
Comment[es]=Controlador de KDb para el manejo de bases de datos SQLite
Comment[gl]=Controlador de KDb para manexar bases de datos SQLite.
Comment[nl]=KDb-stuurprogramma for behandeling van SQLite databases
Comment[pl]=Sterownik KDb do obsługi baz danych SQLite
Comment[pt]=Controlador do KDb para lidar com bases de dados SQLite
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados SQLite
Comment[sk]=KDb ovládač na spracovanie databáz SQLite
Comment[sv]=Predikatdrivrutin för att hantera SQLite-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних SQLite
Comment[x-test]=xxKDb driver for handling SQLite databasesxx
Type=Service
Icon=
Encoding=UTF-8

X-KDE-Library=kdb_sqlitedriver
X-KDE-ServiceTypes=KDb/Driver
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kdb.sqlite
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDb-FileBased=true
X-KDb-ImportingEnabled=false
MimeType=application/x-kexiproject-sqlite3;application/x-sqlite3
