[Desktop Entry]
Name=sqlite
Caption=SQLite
Comment=Predicate driver for handling SQLite databases
Comment[en_GB]=Predicate driver for handling SQLite databases
FileName=sqlite
Type=File
MimeTypes=application/x-kexiproject-sqlite3,application/x-sqlite3
Version=1.0
