[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/DBDriver
Comment=Kexi SQL-Driver plugin
Comment[bg]=Приставка на Kexi за SQL-драйвер
Comment[cs]=Modul ovladače SQL pro Kexi
Comment[de]=Kexi-SQL-Treibermodul
Comment[es]=Complemento para el controlador SQL de Kexi
Comment[et]=Kexi SQL-draiveri plugin
Comment[fr]=Module externe du pilote SQL pour Kexi SQL
Comment[ga]=Breiseán Tiománaí-SQL Kexi
Comment[km]=កម្មវិធី​ជំនួយ​នៃ​កម្មវិធីបញ្ជា​របស់ Kexi SQL
Comment[nds]=SQL-Drievermoduul för Kexi
Comment[nl]=Kexi SQL-stuurprogramma-plugin
Comment[pl]=Kexi SQL-Wtyczka sterownika
Comment[pt]='Plugin' do Controlador de SQL do Kexi
Comment[pt_BR]=Plug-in do controlador SQL do Kexi
Comment[sk]=Modul ovládača SQL pre Kexi
Comment[sl]=Vstavek gonilnika Kexi SQL
Comment[sv]=Kexi SQL-insticksdrivrutin
Comment[ug]=Kexi SQL - قوزغاتقۇ قىستۇرمىسى
Comment[uk]=Додаток SQL-драйвера Kexi
Comment[x-test]=xxKexi SQL-Driver pluginxx

[PropertyDef::X-Kexi-FileDBDriverMime]
Type=QString

[PropertyDef::X-Kexi-FileDBDriverMimeList]
Type=QStringList

[PropertyDef::X-Kexi-DriverName]
Type=QString

[PropertyDef::X-Kexi-DriverType]
Type=QString

[PropertyDef::X-Kexi-KexiDBVersion]
Type=QString

[PropertyDef::X-Kexi-DoNotAllowProjectImportingTo]
Type=bool
