[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/DBDriver
Comment=Kexi SQL-Driver plugin
Comment[es]=Complemento para el controlador SQL de Kexi
Comment[et]=Kexi SQL-draiveri plugin
Comment[nds]=SQL-Drievermoduul för Kexi
Comment[nl]=Kexi SQL-stuurprogramma-plugin
Comment[pt]='Plugin' do Controlador de SQL do Kexi
Comment[pt_BR]=Plug-in do controlador SQL do Kexi
Comment[sv]=Kexi SQL-insticksdrivrutin
Comment[uk]=Додаток SQL-драйвера Kexi
Comment[x-test]=xxKexi SQL-Driver pluginxx

[PropertyDef::X-Kexi-FileDBDriverMime]
Type=QString

[PropertyDef::X-Kexi-FileDBDriverMimeList]
Type=QStringList

[PropertyDef::X-Kexi-DriverName]
Type=QString

[PropertyDef::X-Kexi-DriverType]
Type=QString

[PropertyDef::X-Kexi-KexiDBVersion]
Type=QString

[PropertyDef::X-Kexi-DoNotAllowProjectImportingTo]
Type=bool
