[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kexi/DBDriver
Comment=Kexi SQL-Driver plugin
Comment[cs]=Modul ovladače SQL pro Kexi
Comment[nl]=Kexi SQL-stuurprogramma-plug-in
Comment[pl]=Wtyczka sterownika SQL dla programu Kexi
Comment[pt]='Plugin' do Controlador de SQL do Kexi
Comment[pt_BR]=Plugin do controlador SQL do Kexi
Comment[sv]=Kexi SQL-insticksdrivrutin
Comment[uk]=Додаток драйвера SQL Kexi
Comment[x-test]=xxKexi SQL-Driver pluginxx

[PropertyDef::X-Kexi-FileDBDriverMime]
Type=QString

[PropertyDef::X-Kexi-FileDBDriverMimeList]
Type=QStringList

[PropertyDef::X-Kexi-DriverName]
Type=QString

[PropertyDef::X-Kexi-DriverType]
Type=QString

[PropertyDef::X-Kexi-KexiDBVersion]
Type=QString

[PropertyDef::X-Kexi-DoNotAllowProjectImportingTo]
Type=bool
