[Desktop Entry]
Name=xbase
Name[cs]=xbase
Name[de]=xBase
Name[es]=xbase
Name[nl]=xbase
Name[pl]=xbase
Name[pt]=xbase
Name[pt_BR]=xbase
Name[sk]=xbase
Name[sv]=xBase
Name[uk]=xBase
Name[x-test]=xxxbasexx
Caption=xBase
Comment=KDb driver for handling xBase databases
FileName=xbase
Type=File
#TODO MimeTypes=
Version=1.0
