[Desktop Entry]
Name=xbase
Name[ca]=xBase
Name[cs]=xbase
Name[de]=xBase
Name[es]=xbase
Name[gl]=xBase
Name[hu]=xbase
Name[nl]=xbase
Name[pl]=xbase
Name[pt]=xbase
Name[pt_BR]=xbase
Name[sk]=xbase
Name[sv]=xBase
Name[uk]=xBase
Name[x-test]=xxxbasexx
Name[zh_CN]=xbase
Caption=xBase
Comment=KDb driver for handling xBase databases
Comment[ca]=Controlador del KDb per a gestionar bases de dades xBase
Comment[cs]=Ovladač KDb pro práci s databázemi xBase
Comment[de]=KDb-Treiber für die Handhabung von xBase-Datenbanken
Comment[es]=Controlador de KDb para el manejo de bases de datos xBase
Comment[gl]=Controlador de KDb para manexar bases de datos xBase.
Comment[hu]=KDb illesztőprogram xbase adatbázisok kezeléséhez
Comment[nl]=KDb-stuurprogramma for behandeling van xBase databases
Comment[pl]=Sterownik KDb do obsługi baz danych xBase
Comment[pt]=Controlador do KDb para lidar com bases de dados xBase
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados xBase
Comment[sk]=KDb ovládač na spracovanie databáz xBase
Comment[sv]=Kdb-drivrutin för att hantera xBase-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних xBase
Comment[x-test]=xxKDb driver for handling xBase databasesxx
Comment[zh_CN]=处理 xBase 数据库的 KDb 驱动
FileName=xbase
Type=File
#TODO MimeTypes=
Version=1.0
