[Desktop Entry]
Name=xbase
Name[cs]=xbase
Name[de]=xBase
Name[es]=xbase
Name[nl]=xbase
Name[pl]=xbase
Name[pt]=xbase
Name[pt_BR]=xbase
Name[sk]=xbase
Name[sv]=xBase
Name[uk]=xBase
Name[x-test]=xxxbasexx
Caption=xBase
Comment=KDb driver for handling xBase databases
Comment[nl]=KDb-stuurprogramma for behandeling van xBase databases
Comment[pl]=Sterownik KDb do obsługi baz danych xBase
Comment[pt]=Controlador do KDb para lidar com bases de dados xBase
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados xBase
Comment[sv]=Kdb-drivrutin för att hantera xBase-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних xBase
Comment[x-test]=xxKDb driver for handling xBase databasesxx
FileName=xbase
Type=File
#TODO MimeTypes=
Version=1.0
