[Desktop Entry]
Name=xbase
Caption=xBase
Comment=Predicate driver for handling xBase databases
Comment[en_GB]=Predicate driver for handling xBase databases
FileName=xbase
Type=File
#TODO MimeTypes=
Version=1.0
