[Desktop Entry]
Name=xbase
Name[cs]=xbase
Name[de]=xbase
Name[es]=xbase
Name[et]=xbase
Name[nds]=xbase
Name[nl]=xbase
Name[pt]=xbase
Name[pt_BR]=xbase
Name[sv]=xBase
Name[ug]=xbase
Name[uk]=xBase
Name[x-test]=xxxbasexx
Caption=xBase
Comment=Predicate driver for handling xBase databases
Comment[es]=Controlador para  manejo de bases de datos xBase en Predicate
Comment[et]=Predicate'i draiver xBase'i andmebaaside jaoks
Comment[nl]=Onderbouwingsstuurprogramma voor het behandelen van xBase databases
Comment[pt]=Controlador do Predicate para lidar com bases de dados do xBase
Comment[pt_BR]=Driver do Predicate para lidar com bancos de dados xBase
Comment[sv]=Predikatdrivrutin för att hantera xBase-databaser
Comment[ug]=xBase ساندىنىنى باشقۇرىدىغان خەۋەرچى قوزغاتقۇ
Comment[uk]=Драйвер Predicate для роботи з базами даних xBase
Comment[x-test]=xxPredicate driver for handling xBase databasesxx
FileName=xbase
Type=File
#TODO MimeTypes=
Version=1.0
