[Desktop Entry]
Name=mysql
Name[cs]=mysql
Name[de]=MySQL
Name[es]=mysql
Name[gl]=MySQL
Name[nl]=mysql
Name[pl]=mysql
Name[pt]=mysql
Name[pt_BR]=mysql
Name[sk]=mysql
Name[sv]=mysql
Name[uk]=MySQL
Name[x-test]=xxmysqlxx
Caption=MySQL
Comment=KDb driver for handling MySQL databases
Comment[de]=KDb-Treiber für die Handhabung von MySQL-Datenbanken
Comment[gl]=Controlador de KDb para manexar bases de datos MySQL.
Comment[nl]=KDb-stuurprogramma for behandeling van MySQL databases
Comment[pl]=Sterownik KDb do obsługi baz danych MySQL
Comment[pt]=Controlador do KDb para lidar com bases de dados MySQL
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados MySQL
Comment[sv]=Kdb-drivrutin för att hantera MySQL-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних MySQL
Comment[x-test]=xxKDb driver for handling MySQL databasesxx
FileName=mysql
Type=Network
Version=0.0
