[Desktop Entry]
Name=mysql
Name[cs]=mysql
Name[de]=MySQL
Name[es]=mysql
Name[nl]=mysql
Name[pl]=mysql
Name[pt]=mysql
Name[pt_BR]=mysql
Name[sk]=mysql
Name[sv]=mysql
Name[uk]=MySQL
Name[x-test]=xxmysqlxx
Caption=MySQL
Comment=KDb driver for handling MySQL databases
FileName=mysql
Type=Network
Version=0.0
