[Desktop Entry]
Name=MySQL
Name[ca]=MySQL
Name[cs]=MySQL
Name[de]=MySQL
Name[es]=MySQL
Name[fi]=MySQL
Name[gl]=MySQL
Name[hu]=MySQL
Name[nl]=MySQL
Name[pl]=MySQL
Name[pt]=MySQL
Name[pt_BR]=MySQL
Name[sk]=MySQL
Name[sv]=MySQL
Name[uk]=MySQL
Name[x-test]=xxMySQLxx
Name[zh_CN]=MySQL
Comment=KDb driver for handling MySQL databases
Comment[ca]=Controlador del KDb per a gestionar bases de dades MySQL
Comment[cs]=Ovladač KDb pro práci s databázemi MySQL
Comment[de]=KDb-Treiber für die Handhabung von MySQL-Datenbanken
Comment[es]=Controlador de KDb para el manejo de bases de datos MySQL
Comment[fi]=KDb-ajuri MySQL-tietokantojen käsittelyyn
Comment[gl]=Controlador de KDb para manexar bases de datos MySQL.
Comment[hu]=KDb illesztőprogram MySQL adatbázisok kezeléséhez
Comment[nl]=KDb-stuurprogramma for behandeling van MySQL databases
Comment[pl]=Sterownik KDb do obsługi baz danych MySQL
Comment[pt]=Controlador do KDb para lidar com bases de dados MySQL
Comment[pt_BR]=Driver do KDb para lidar com bancos de dados MySQL
Comment[sk]=KDb ovládač na spracovanie databáz MySQL
Comment[sv]=Kdb-drivrutin för att hantera MySQL-databaser
Comment[uk]=Драйвер KDb для роботи з базами даних MySQL
Comment[x-test]=xxKDb driver for handling MySQL databasesxx
Comment[zh_CN]=处理 MySQL 数据库的 KDb 驱动
Type=Service
Icon=
Encoding=UTF-8

X-KDE-Library=kdb_mysqldriver
X-KDE-ServiceTypes=KDb/Driver
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kdb.mysql
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KDb-FileBased=false
X-KDb-ImportingEnabled=true
MimeType=
