[Desktop Entry]
Name=mysql
Name[bg]=mysql
Name[cs]=mysql
Name[de]=mysql
Name[es]=mysql
Name[et]=mysql
Name[fi]=mysql
Name[fr]=mysql
Name[hu]=mysql
Name[km]=mysql
Name[nds]=MySQL
Name[nl]=mysql
Name[pl]=mysql
Name[pt]=mysql
Name[pt_BR]=mysql
Name[sk]=mysql
Name[sl]=mysql
Name[sv]=MySQL
Name[ug]=mysql
Name[uk]=MySQL
Name[x-test]=xxmysqlxx
Caption=MySQL
Comment=Predicate driver for handling MySQL databases
Comment[bg]=Драйвер за бази от данни MySQL
Comment[es]=Controlador para  manejo de bases de datos MySQL en Predicate
Comment[et]=Predicate'i draiver MySQL-i andmebaaside jaoks
Comment[fr]=Pilote de prédicats pour gérer les bases de données MySQL
Comment[km]=បរិយាយ​កម្មវិធី​បញ្ជា​សម្រាប់​គ្រប់គ្រង​មូលដ្ឋាន​ទិន្នន័យ MySQL
Comment[nl]=Onderbouwingsstuurprogramma voor het behandelen van MySQL databases
Comment[pl]=Ogłoś sterownik do obsługi baz danych MySQL
Comment[pt]=Controlador do Predicate para lidar com bases de dados MySQL
Comment[pt_BR]=Driver do Predicate para lidar com bancos de dados MySQL
Comment[sl]=Gonilnik Predicate za obravnavanje podatkovnih zbirk MySQL
Comment[sv]=Predikatdrivrutin för att hantera MySQL-databaser
Comment[ug]=MySQL ساندىنىنى باشقۇرىدىغان خەۋەرچى قوزغاتقۇ
Comment[uk]=Драйвер Predicate для роботи з базами даних MySQL
Comment[x-test]=xxPredicate driver for handling MySQL databasesxx
FileName=mysql
Type=Network
Version=0.0
